{% extends "root/base.html" %}
{% load static %}

{% block title %}Current Faculty{% endblock title %}

{% block content %}

<div class="page-title">
    <h1><br><strong>{{ page_title }}</strong></h1>
    <h3><br><strong>{{ page_subtitle }}</strong></h3>
</div>

<section id="team">
    <div class="container">

        {% for item in panels %}
            <div class="container_title" id="{{ item.panel|slugify }}" data-aos="fade-up" data-aos-duration="1500">
                <h2><span class="dash">—</span> {{ item.panel|upper }} <span class="dash">—</span></h2>
            </div>

            <div class="container_members" data-aos="fade-up" data-aos-duration="1500">
                {% for member in item.members %}
                    <div class="member-card">
                        <img src="{{ member.image.url }}" alt="{{ member.name }}">
                        <div class="icon-hover-box">
                                {% comment %} <a href="{{ member.facebook_link }}"><i class="fa-brands fa-facebook"></i></a> {% endcomment %}
                                <a href="{{ member.linkedin_link }}"><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                        <h3>{{ member.name }}</h3>
                        <p>{{ member.designation }}</p>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

    </div>
</section>

<br><br><br><br><br>

{% endblock content %}
