{% comment %} <!-- -------------------footer---------------------------- --> {% endcomment %}
<footer>
    <div class="footer-container">

        <!-- Left: Contact Us -->
        <div class="footer-content">
            <h3>Contact Us</h3>
            <p><i class="fa-solid fa-location-dot"></i> Temporary Campus KiU, Kishoreganj</p>
            <p><i class="fa-solid fa-envelope"></i> bcpc@bsmru.ac.bd</p>
            <p><i class="fa-solid fa-phone"></i> +8801304946141</p>
        </div>

        <!-- Middle: About Us -->
        <div class="footer-content middle">
            <h3>About Us</h3>
            <p>Thank you for visiting our website. We aim to connect students and alumni for a better future!</p>
            <div class="footer-social-icons">
                <a href="https://www.facebook.com/bcpc.bsmru"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.linkedin.com/company/103361395/"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://www.youtube.com/@BCPC-official"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>

        <!-- Right: Developer Info -->
        <div class="footer-content right">
            <h3>Developer Info</h3>
            <p><i class="fa-solid fa-user"></i> Md. Hasibul Hasan</p>
            <p><i class="fa-solid fa-envelope"></i> hasib.hasan.th@gmail.com</p>
            <p><i class="fa-solid fa-phone"></i> +8801777264362</p>
        </div>

    </div>

    <div class="footer-bottom">
        <p>&copy; 2025 Computer & Programming Club, KiU | All rights reserved</p>
    </div>
</footer>
