{% extends "root/base.html" %}
{% load static %}

{% block title %}Former Panel{% endblock title %}

{% block content %}

<div class="page-title">
    <h1><br><strong>FORMER EXECUTIVE PANEL</strong></h1>
    <h3><br><strong>Effective from August 2023 - May 2024</strong></h3>
</div>

<section id="team">
    <div class="container">

        {% comment %} <!-- ----------------------------Admin Panel-------------------- --> {% endcomment %}
        <div class="container_title" data-aos="fade-up" data-aos-duration="1500">
            <h2><span class="dash">—</span> ADMIN PANEL <span class="dash">—</span></h2>
        </div>

        <!-- Leader -->
        <div class="container_leader" data-aos="fade-up" data-aos-duration="1500">
            <div class="member-card">
                <img src="{% static 'root/images/team/sarafat.jpg' %}" alt="Leader">
                <div class="icon-hover-box">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                </div>
                <h3>Md. Sarafat Hossain</h3>
                <p>President</p>
            </div>
        </div>

        <!-- Members -->
        <div class="container_members" data-aos="fade-up" data-aos-duration="1500">
            <div class="member-card">
                <img src="{% static 'root/images/team/talha.jpg' %}" alt="Member1">
                <div class="icon-hover-box">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                </div>
                <h3>Talha Jubayer</h3>
                <p>Vice-President</p>
            </div>

            <div class="member-card" data-aos="fade-up" data-aos-duration="1500">
                <img src="{% static 'root/images/team/seman.jpg' %}" alt="Member2">
                <div class="icon-hover-box">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                </div>
                <h3>Amir Hamja Seman</h3>
                <p>Teasurer</p>
            </div>

            <!-- More members as needed -->
        </div>

        {% comment %} <!-- ----------------------------Mentor wing-------------------- --> {% endcomment %}
        <div class="container_title" data-aos="fade-up" data-aos-duration="1500">
            <h2><span class="dash">—</span> MENTOR WING <span class="dash">—</span></h2>
        </div>

        <!-- Members -->
        <div class="container_members" data-aos="fade-up" data-aos-duration="1500">
            <div class="member-card">
                <img src="{% static 'root/images/team/deb.jpg' %}" alt="Member1">
                <div class="icon-hover-box">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                </div>
                <h3>Deboyan Deb</h3>
                <p>Member</p>
            </div>

            <div class="member-card" data-aos="fade-up" data-aos-duration="1500">
                <img src="{% static 'root/images/team/meherab.jpg' %}" alt="Member3">
                <div class="icon-hover-box">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                </div>
                <h3>Meherab Hossen</h3>
                <p>Member</p>
            </div>

            <div class="member-card" data-aos="fade-up" data-aos-duration="1500">
                <img src="{% static 'root/images/team/saimon1.jpg' %}" alt="Member3">
                <div class="icon-hover-box">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                </div>
                <h3>Saimon Islam</h3>
                <p>Member</p>
            </div>

            <div class="member-card" data-aos="fade-up" data-aos-duration="1500">
                <img src="{% static 'root/images/team/aupo.jpg' %}" alt="Member3">
                <div class="icon-hover-box">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                </div>
                <h3>Shahria Mahmud Aupo</h3>
                <p>Member</p>
            </div>

            <!-- More members as needed -->
        </div>

        {% comment %} <!-- ----------------------------Executive Wing-------------------- --> {% endcomment %}
        <div class="container_title" data-aos="fade-up" data-aos-duration="1500">
            <h2><span class="dash">—</span> EXECUTIVE WING <span class="dash">—</span></h2>
        </div>

        <!-- Leader -->
        <div class="container_leader" data-aos="fade-up" data-aos-duration="1500">
            <div class="member-card">
                <img src="{% static 'root/images/team/saimon1.jpg' %}" alt="Leader">
                <div class="icon-hover-box">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                </div>
                <h3>Saimon Islam</h3>
                <p>Wing Leader</p>
            </div>
        </div>

        <!-- Members -->
        <div class="container_members" data-aos="fade-up" data-aos-duration="1500">
            <div class="member-card">
                <img src="{% static 'root/images/team/sazid.jpg' %}" alt="Member1">
                <div class="icon-hover-box">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                </div>
                <h3>Sazid Mahmud Emon Khan</h3>
                <p>Member</p>
            </div>

            <div class="member-card" data-aos="fade-up" data-aos-duration="1500">
                <img src="{% static 'root/images/team/raihan.jpg' %}" alt="Member2">
                <div class="icon-hover-box">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                </div>
                <h3>Raihan Uddin</h3>
                <p>Member</p>
            </div>

            <div class="member-card" data-aos="fade-up" data-aos-duration="1500">
                <img src="{% static 'root/images/team/shafin.jpg' %}" alt="Member2">
                <div class="icon-hover-box">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                </div>
                <h3>Shafin Chowdhury</h3>
                <p>Member</p>
            </div>

            <!-- More members as needed -->
        </div>

        {% comment %} <!-- ----------------------------Advertising and Finance Wing-------------------- --> {% endcomment %}
        <div class="container_title" data-aos="fade-up" data-aos-duration="1500">
            <h2><span class="dash">—</span> ADVERTISING AND FINANCE MANAGEMENT WING <span class="dash">—</span></h2>
        </div>

        <!-- Leader -->
        <div class="container_leader" data-aos="fade-up" data-aos-duration="1500">
            <div class="member-card">
                <img src="{% static 'root/images/team/tanusree.jpg' %}" alt="Leader">
                <div class="icon-hover-box">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                </div>
                <h3>Tanusree Das Ridy</h3>
                <p>Wing Leader</p>
            </div>
        </div>

        <!-- Members -->
        <div class="container_members" data-aos="fade-up" data-aos-duration="1500">
            <div class="member-card">
                <img src="{% static 'root/images/team/dhruvo.png' %}" alt="Member1">
                <div class="icon-hover-box">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                </div>
                <h3>Md. Saki Al-Muiz Dhrubo</h3>
                <p>Member</p>
            </div>

            <div class="member-card" data-aos="fade-up" data-aos-duration="1500">
                <img src="{% static 'root/images/team/sinthi.jpg' %}" alt="Member3">
                <div class="icon-hover-box">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                </div>
                <h3>Sadia Rahman</h3>
                <p>Member</p>
            </div>

            <!-- More members as needed -->
        </div>

    </div>
</section>


{% endblock content %}