{% comment %} <!-- ----------------------------Admin Panel-------------------- --> {% endcomment %}
<div class="container_title" id="admin" data-aos="fade-up" data-aos-duration="1500">
    <h2><span class="dash">—</span> ADMIN PANEL <span class="dash">—</span></h2>
</div>

<!-- Leader -->
<div class="container_leader" data-aos="fade-up" data-aos-duration="1500">
    <div class="member-card">
        <img src="{% static 'root/images/team/deb.jpg' %}" alt="Leader">
        <div class="icon-hover-box">
            <a href="https://www.facebook.com/debodyan.deb.5"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></i></a>
        </div>
        <h3>Debodyan Deb</h3>
        <p>President</p>
    </div>
</div>

<!-- Members -->
<div class="container_members" data-aos="fade-up" data-aos-duration="1500">
    <div class="member-card">
        <img src="{% static 'root/images/team/ehasan1.png' %}" alt="Member1">
        <div class="icon-hover-box">
            <a href="https://www.facebook.com/ehasan.mahmud.5"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></i></a>
        </div>
        <h3>Ehasan Mahmud</h3>
        <p>Vice-President</p>
    </div>

    <div class="member-card" data-aos="fade-up" data-aos-duration="1500">
        <img src="{% static 'root/images/team/dhruvo.png' %}" alt="Member2">
        <div class="icon-hover-box">
            <a href="https://www.facebook.com/100077458152580"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></i></a>
        </div>
        <h3>Md. Saki Al-Muiz Dhrubo</h3>
        <p>Teasurer</p>
    </div>

    <div class="member-card" data-aos="fade-up" data-aos-duration="1500">
        <img src="{% static 'root/images/team/meherab.jpg' %}" alt="Member3">
        <div class="icon-hover-box">
            <a href="https://www.facebook.com/meherab.hossen.71"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.linkedin.com/in/meherab-hossen-467058254"><i class="fa-brands fa-linkedin"></i></i></a>
        </div>
        <h3>Meherab Hossen</h3>
        <p>General Secretary</p>
    </div>


    <!-- More members as needed -->
</div>


{% comment %} <!-- ----------------------------Mentor wing-------------------- --> {% endcomment %}
<div class="container_title" id="mentor" data-aos="fade-up" data-aos-duration="1500">
    <h2><span class="dash">—</span> MENTOR WING <span class="dash">—</span></h2>
</div>


<!-- Members -->
<div class="container_members" data-aos="fade-up" data-aos-duration="1500">
    <div class="member-card">
        <img src="{% static 'root/images/team/promit.jpg' %}" alt="Member1">
        <div class="icon-hover-box">
            <a href="https://www.facebook.com/promit.ak.1"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></i></a>
        </div>
        <h3>Promit Dey</h3>
        <p>Member</p>
    </div>

    <div class="member-card" data-aos="fade-up" data-aos-duration="1500">
        <img src="{% static 'root/images/team/badhon.jpg' %}" alt="Member3">
        <div class="icon-hover-box">
            <a href="https://www.facebook.com/rubayet13"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></i></a>
        </div>
        <h3> Rubayet Ashib Badhon</h3>
        <p>Member</p>
    </div>


    <!-- More members as needed -->
</div>





{% comment %} <!-- ----------------------------IT Wing-------------------- --> {% endcomment %}
<div class="container_title" id="IT" data-aos="fade-up" data-aos-duration="1500">
    <h2><span class="dash">—</span> IT WING <span class="dash">—</span></h2>
</div>

<!-- Leader -->
<div class="container_leader" data-aos="fade-up" data-aos-duration="1500">
    <div class="member-card">
        <img src="{% static 'root/images/team/shafiul.jpg' %}" alt="Leader">
        <div class="icon-hover-box">
            <a href="https://www.facebook.com/s.mujnibeen"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></i></a>
        </div>
        <h3>Shafiul Mujnibeen</h3>
        <p>Wing Leader</p>
    </div>
</div>

<!-- Members -->
<div class="container_members" data-aos="fade-up" data-aos-duration="1500">
    <div class="member-card">
        <img src="{% static 'root/images/team/kobir.jpg' %}" alt="Leader">
        <div class="icon-hover-box">
            <a href="https://www.facebook.com/md.kobir.hossain.712952"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></i></a>
        </div>
        <h3>MD Kobir Hossain</h3>
        <p>Member</p>
    </div>

    <div class="member-card" data-aos="fade-up" data-aos-duration="1500">
        <img src="{% static 'root/images/team/hasib1.jpg' %}" alt="Member1">
        <div class="icon-hover-box">
            <a href="https://www.facebook.com/hasib.hasan.th"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.linkedin.com/in/md-hasib-hasan"><i class="fa-brands fa-linkedin"></i></i></a>
        </div>
        <h3>Md. Hasibul Hasan</h3>
        <p>Member</p>
    </div>

    <div class="member-card" data-aos="fade-up" data-aos-duration="1500">
        <img src="{% static 'root/images/team/niamul1.jpg' %}" alt="Member3">
        <div class="icon-hover-box">
            <a href=" https://www.facebook.com/profile.php?id=61564307656005"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></i></a>
        </div>
        <h3>MD Niamul Islam</h3>
        <p>Member</p>
    </div>


    <!-- More members as needed -->
</div>



{% comment %} <!-- ----------------------------Executive Wing-------------------- --> {% endcomment %}
<div class="container_title" id="executive" data-aos="fade-up" data-aos-duration="1500">
    <h2><span class="dash">—</span> EXECUTIVE WING <span class="dash">—</span></h2>
</div>

<!-- Leader -->
<div class="container_leader" data-aos="fade-up" data-aos-duration="1500">
    <div class="member-card">
        <img src="{% static 'root/images/team/rifat.jpg' %}" alt="Leader">
        <div class="icon-hover-box">
            <a href="https://www.facebook.com/abdullahal.rifat.775"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></i></a>
        </div>
        <h3>Abdullah Al Rifat</h3>
        <p>Wing Leader</p>
    </div>
</div>

<!-- Members -->
<div class="container_members" data-aos="fade-up" data-aos-duration="1500">
    <div class="member-card">
        <img src="{% static 'root/images/team/asraful.jpg' %}" alt="Member1">
        <div class="icon-hover-box">
            <a href="https://www.facebook.com/ayanhaq555"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></i></a>
        </div>
        <h3>Asraful Haq</h3>
        <p>Member</p>
    </div>

    <div class="member-card" data-aos="fade-up" data-aos-duration="1500">
        <img src="{% static 'root/images/team/shihab.jpg' %}" alt="Member2">
        <div class="icon-hover-box">
            <a href="https://www.facebook.com/sofiullah.shihab.2024"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></i></a>
        </div>
        <h3>Md. Sofiullah Shihab</h3>
        <p>Member</p>
    </div>

    <div class="member-card" data-aos="fade-up" data-aos-duration="1500">
        <img src="{% static 'root/images/team/jashim.jpg' %}" alt="Member2">
        <div class="icon-hover-box">
            <a href="https://www.facebook.com/itzjashimbd"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></i></a>
        </div>
        <h3>Jashim Uddin</h3>
        <p>Member</p>
    </div>

    <div class="member-card" data-aos="fade-up" data-aos-duration="1500">
        <img src="{% static 'root/images/team/hafizur.jpg' %}" alt="Member2">
        <div class="icon-hover-box">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></i></a>
        </div>
        <h3>Md. Hafizur Rahman</h3>
        <p>Member</p>
    </div>

    <div class="member-card" data-aos="fade-up" data-aos-duration="1500">
        <img src="{% static 'root/images/team/shuvo.jpg' %}" alt="Member3">
        <div class="icon-hover-box">
            <a href="https://www.facebook.com/tanjan.mahmud.shuvo"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></i></a>
        </div>
        <h3>Md. Tanjan Mahmud Shuvo</h3>
        <p>Member</p>
    </div>


    <!-- More members as needed -->
</div>



{% comment %} <!-- ----------------------------ADVERTISING AND FINANCE MANAGEMENT WING-------------------- --> {% endcomment %}
<div class="container_title" id="finance" data-aos="fade-up" data-aos-duration="1500">
    <h2><span class="dash">—</span> ADVERTISING AND FINANCE MANAGEMENT WING <span class="dash">—</span></h2>
</div>

<!-- Leader -->
<div class="container_leader" data-aos="fade-up" data-aos-duration="1500">
    <div class="member-card">
        <img src="{% static 'root/images/team/promit.jpg' %}" alt="Leader">
        <div class="icon-hover-box">
            <a href="https://www.facebook.com/promit.ak.1"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></i></a>
        </div>
        <h3>Promit Dey</h3>
        <p>Wing Leader</p>
    </div>
</div>

<!-- Members -->
<div class="container_members" data-aos="fade-up" data-aos-duration="1500">
    <div class="member-card">
        <img src="{% static 'root/images/team/nayem.jpg' %}" alt="Member1">
        <div class="icon-hover-box">
            <a href="https://www.facebook.com/mj.nayeeem"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></i></a>
        </div>
        <h3>Md. Jannatul Nayeem</h3>
        <p>Member</p>
    </div>

    <div class="member-card" data-aos="fade-up" data-aos-duration="1500">
        <img src="{% static 'root/images/team/asif1.jpg' %}" alt="Member3">
        <div class="icon-hover-box">
            <a href="https://www.facebook.com/profile.php?id=61559521990222"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></i></a>
        </div>
        <h3>KM Asif Karim</h3>
        <p>Member</p>
    </div>


    <!-- More members as needed -->
</div>



{% comment %} <!-- ----------------------------PUBLIC RELATIONS WING-------------------- --> {% endcomment %}
<div class="container_title" id="public" data-aos="fade-up" data-aos-duration="1500">
    <h2><span class="dash">—</span> PUBLIC RELATIONS WING <span class="dash">—</span></h2>
</div>

<!-- Leader -->
<div class="container_leader" data-aos="fade-up" data-aos-duration="1500">
    <div class="member-card">
        <img src="{% static 'root/images/team/badhon.jpg' %}" alt="Leader">
        <div class="icon-hover-box">
            <a href="https://www.facebook.com/rubayet13"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></i></a>
        </div>
        <h3>Rubayet Ashib Badhon</h3>
        <p>Wing Leader</p>
    </div>
</div>

<!-- Members -->
<div class="container_members" data-aos="fade-up" data-aos-duration="1500">
    <div class="member-card">
        <img src="{% static 'root/images/team/labib.jpg' %}" alt="Member1">
        <div class="icon-hover-box">
            <a href="https://www.facebook.com/tahmidulkhan.labib"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></i></a>
        </div>
        <h3>Md. Tahmidul Alam Khan</h3>
        <p>Member</p>
    </div>

    <div class="member-card" data-aos="fade-up" data-aos-duration="1500">
        <img src="{% static 'root/images/team/fahad.jpg' %}" alt="Member3">
        <div class="icon-hover-box">
            <a href="	https://www.facebook.com/sordar.fahad"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></i></a>
        </div>
        <h3>Md Hasibul Hossain Fahad</h3>
        <p>Member</p>
    </div>


    <!-- More members as needed -->
</div>